/node_modules
*/node_modules
node_modules/*

# Node modules
node_modules/
.next/
.next/cache

# Dependency directories
/.pnp
.pnp.js

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Production
out/
dist/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Build output
*.log
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.lock
